version: 2.1

# Orbs
orbs:
  android: circleci/android@3.2.0
  ruby: circleci/ruby@2.6.0

jobs:
  lint:
    executor:
      name: android/android_docker # Docker Executor
      resource_class: xlarge
      tag: 2025.10.1
    steps:
      - checkout
      - android/restore_gradle_cache
      - run: ./gradlew lintDebug
      - android/save_gradle_cache

  unit_test:
    executor:
      name: android/android_docker # Docker Executor
      resource_class: xlarge
      tag: 2025.10.1
    steps:
      - checkout
      - android/restore_gradle_cache
      - run: ./gradlew testDebugUnitTest
      - android/save_gradle_cache
      - store_test_results: # Upload Test Results(Test Insights)
          path: ./app/build/test-results/testDebugUnitTest

  unit_test_parallel:
    executor:
      name: android/android_docker # Docker Executor
      resource_class: xlarge
      tag: 2025.10.1
    parallelism: 4
    steps:
      - checkout
      - android/restore_gradle_cache
      - run: |
            cd app/src/test/java
            CLASSNAMES=$(circleci tests glob "**/*Test.kt" \
              | sed 's@/@.@g' \
              | sed 's/.kt//' \
              | circleci tests split --split-by=timings --timings-type=classname)
            cd ../../../../
            GRADLE_ARGS=$(echo $CLASSNAMES | awk '{f25.10.1; i<=NF; i++) print "--tests",$i}')
            echo "Prepared arguments for Gradle: $GRADLE_ARGS"
            ./gradlew testDebugUnitTest $GRADLE_ARGS -Pcircleci
      - android/save_gradle_cache
      - store_test_results: # Upload Test Results(Test Insights)
          path: ./app/build/test-results/testDebugUnitTest

  integration_test:
    executor:
      name: android/android_machine # Machine Executor
      resource_class: xlarge
      tag: 2025.10.1
    steps:
      - checkout
      - android/start_emulator_and_run_tests
      - store_test_results: # Upload Test Results(Test Insights)
          path: ./app/build/outputs/androidTest-results/connected

  beta:
    executor:
      name: android/android_docker # Docker Executor
      resource_class: xlarge
      tag: 2025.10.1
    steps:
      - checkout
      - android/restore_gradle_cache
      - ruby/install-deps # Ruby(Fastlane)
      - run: bundle exec fastlane beta
      - android/save_gradle_cache

workflows:
  main:
    jobs:
      - lint
      - unit_test:
          requires:
            - lint
      - unit_test_parallel:
          requires:
            - lint
      - integration_test:
          requires:
            - unit_test
            - unit_test_parallel
      - beta:
          requires:
            - integration_test
          context: # Context
            - mobile
          filters: # Filter Branch
            branches:
              only:
                - main
